{
  :wc-type "standard",
  :input ["./resources/starwars/starwars.txt"],
  :word-count 50,
  :width 1600,
  :height 800,
  :collision "pixel-perfect",
  :background-color "white",
  :color ["red"],
  ;:font-scalar "linear",
  :font-scalar "sqrt",
  :font-size-min 20,
  :font-size-max 150,
  :font-weight "bold",
  :font-type "impact",
  ;:tokenizer "english"
  :tokenizer "whitespace"
  :filters ["top-english"]
}
